body{
    color: #2e1263;
    background-color: #f69680;
    text-align: center;
    font-weight: 200;
}
h1{
    font-weight:200;
    font-size: 70px;
    text-transform: uppercase;
    border-top: 5px sold;
}
img{
    height: 500px;
    border-radius:50%;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
button{
    margin: 30px auto 0;
    padding: 20px 25px;
    background-color:#f69680;
    color: #2e1263;
    font-size: 14px;
    text-align: center;
    border: 1px solid #2e1263;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}
button:hover {
    transition: 3s;
    background-color: #2e1263;
    color: #f69680;
}